*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Koulen';
  src: url(./fonts/koulen-v28-latin-regular.woff2);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr;
  >* { border: #ff9900 solid 1px;}
}

h1, h2 {
  text-align: center;
}

header {
  grid-column: 1 / last;
}

main {
  padding-inline: clamp(2rem, 8%, 8);
  padding-block: 2rem;
  grid-column: span 9;
  gap: 1rem;

  * { width: max-content; }
}

aside {
  grid-column: span 3;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.book-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 12.5rem);
  justify-content: center;
  gap: calc(2rem + 1.25rem) 2rem;
}

.book {
  user-select: none;
  background-color: #ff9900;
  width: 100%;
  aspect-ratio: 4 / 5;
  padding: 2rem 1rem;
  position: relative;
  border-radius: 8px;
  transition: background-color 200ms ease;

  &::before {
    z-index: -1;
    content: "";
    width: 100%;
    height: calc(100% + 1rem);
    background-color: inherit;
    filter: hue-rotate(15deg) saturate(5) brightness(0.8);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    scale: 1.025;
    box-shadow: #0003 0 8px 12px 4px;
  }
}

.book-title,
.book-author {
  max-width: 12ch;
  text-align: center;
  margin: 0 auto 0.5rem;
}

.book-title {
  font-size: 1.5rem;
  font-family: 'Koulen', 'Courier New', Courier, monospace;
  line-height: 1.2;
  letter-spacing: 1px;
}

.book-author {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.page-count {
  position: absolute;
  background-color: #e6e6e6;
  font-size: 0.75rem;
  margin: 0;
  padding: 0.5em;
  bottom: 0;
  right: 0;
  border-top: #000 solid 1px;
  border-left: #000 solid 1px;
  border-radius: 4px 0 8px 0;
}

.have-read {
  background-color: #aaa;
  
  &::after {
    content: "☑️";
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 2rem;
    font-size: 2rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 3rem;
  width: 100%;
  
  input[type=text], input[type=number] {
    border: none;
    width: 100%;
    border-bottom: #000 dotted 2px;

    &:focus { outline: none }

    &:focus + label, &:valid + label {
      transform: translateY(-1em);
      font-size: 0.75em;
    }
  }

  label {
    user-select: none;
    text-align: start;
    position: relative;
    left: 0;
    bottom: 1.5rem;
    width: 100%;
    transition: font-size 200ms ease, transform 200ms ease;
  }

}

.checkbox-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#have-read {
  position: relative;
  font-size: 1.5em;
  width: 1.5rem;
  height: 1.5rem;
  accent-color: #00c8ff;
  &:focus { outline: none;}
}

label[for=have-read] {
  position: static;
}

#submit {
  min-height: 1.75em;
  background-color: #e3e3e3;
  border: #939393 solid 3px;
  border-radius: 8px;
  box-shadow: #939393 0 6px;
  transition: all 50ms ease;
  user-select: none;
  
  aspect-ratio: 1 / 1;
  font-size: 2rem;

  &:active {
    transform: translateY(6px);
    box-shadow: none;
  }
}